IAR编译输出
*.out
*.hex
*.sim
*.bin
*.elf

IAR构建缓存和临时文件
Debug/
Debug_m7_0/
Debug_m7_1/
Release/
settings/
*.dnx
*.crun
*.cspy.bat
*.cspy.ps1
*.driver.xcl
*.general.xcl
*.pbi
*.pbi.dep
*.xcl
.ninja_deps
.ninja_log
build.ninja
*_build_cache

List/
Obj/
BrowseInfo/

IDE配置
.idea/
.vscode/
*.uvopt
*.uvproj
